b {
	font-weight: bold;
	font-size: 1.25em;
}
b.focus {
	font-size: 1.4em;
	font-family: cursive;
}
.clickable {
	cursor: pointer;
	border: 1px ridge grey;
}
.nav {
	border-bottom: 1px solid black;
	display:
}
